/* ==========================================================================
   Responsive: Utility classes
   ========================================================================== */

/**
 * IE10 in Windows (Phone) 8
 *
 * Support for responsive views via media queries is kind of borked in IE10, for
 * Surface/desktop in split view and for Windows Phone 8. This particular fix
 * must be accompanied by a snippet of JavaScript to sniff the user agent and
 * apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
 * our Getting Started page for more information on this bug.
 *
 * For more information, see the following:
 *
 * Issue: https://github.com/twbs/bootstrap/issues/10497
 * Docs: http://getbootstrap.com/getting-started/#browsers
 * Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
 */

@-ms-viewport {
    width: device-width;
}

/**
 * Hide from screenreaders and browsers
 * Credit: HTML5 Boilerplate
 */

.u-hidden {
    display: none !important;
    visibility: hidden !important;
}


/* Visibility utilities */

.u-visible--extraSmall {
    @include ResponsiveInvisibility();
    @media (max-width: $screen--extraSmall-max) {
        @include ResponsiveVisibility();
    }
    &.u-visible--small {
        @media (min-width: $screen--small-min) and (max-width: $screen--small-max) {
            @include ResponsiveVisibility();
        }
    }
    &.u-visible--medium {
        @media (min-width: $screen--medium-min) and (max-width: $screen--medium-max) {
            @include ResponsiveVisibility();
        }
    }
    &.u-visible--large {
        @media (min-width: $screen--large-min) {
            @include ResponsiveVisibility();
        }
    }
}
.u-visible--small {
    @include ResponsiveInvisibility();
    &.u-visible--extraSmall {
        @media (max-width: $screen--extraSmall-max) {
            @include ResponsiveVisibility();
        }
    }
    @media (min-width: $screen--small-min) and (max-width: $screen--small-max) {
        @include ResponsiveVisibility();
    }
    &.u-visible--medium {
        @media (min-width: $screen--medium-min) and (max-width: $screen--medium-max) {
            @include ResponsiveVisibility();
        }
    }
    &.u-visible--large {
        @media (min-width: $screen--large-min) {
            @include ResponsiveVisibility();
        }
    }
}
.u-visible--medium {
    @include ResponsiveInvisibility();
    &.u-visible--extraSmall {
        @media (max-width: $screen--extraSmall-max) {
            @include ResponsiveVisibility();
        }
    }
    &.u-visible--small {
        @media (min-width: $screen--small-min) and (max-width: $screen--small-max) {
            @include ResponsiveVisibility();
        }
    }
    @media (min-width: $screen--medium-min) and (max-width: $screen--medium-max) {
        @include ResponsiveVisibility();
    }
    &.u-visible--large {
        @media (min-width: $screen--large-min) {
            @include ResponsiveVisibility();
        }
    }
}
.u-visible--large {
    @include ResponsiveInvisibility();
    &.u-visible--extraSmall {
        @media (max-width: $screen--extraSmall-max) {
            @include ResponsiveVisibility();
        }
    }
    &.u-visible--small {
        @media (min-width: $screen--small-min) and (max-width: $screen--small-max) {
            @include ResponsiveVisibility();
        }
    }
    &.u-visible--medium {
        @media (min-width: $screen--medium-min) and (max-width: $screen--medium-max) {
            @include ResponsiveVisibility();
        }
    }
    @media (min-width: $screen--large-min) {
        @include ResponsiveVisibility();
    }
}

.u-hidden--extraSmall {
    @include ResponsiveVisibility();
    @media (max-width: $screen--extraSmall-max) {
        @include ResponsiveInvisibility();
    }
    &.u-hidden--small {
        @media (min-width: $screen--small-min) and (max-width: $screen--small-max) {
            @include ResponsiveInvisibility();
        }
    }
    &.u-hidden--medium {
        @media (min-width: $screen--medium-min) and (max-width: $screen--medium-max) {
            @include ResponsiveInvisibility();
        }
    }
    &.u-hidden--large {
        @media (min-width: $screen--large-min) {
            @include ResponsiveInvisibility();
        }
    }
}
.u-hidden--small {
    @include ResponsiveVisibility();
    &.u-hidden--extraSmall {
        @media (max-width: $screen--extraSmall-max) {
            @include ResponsiveInvisibility();
        }
    }
    @media (min-width: $screen--small-min) and (max-width: $screen--small-max) {
        @include ResponsiveInvisibility();
    }
    &.u-hidden--medium {
        @media (min-width: $screen--medium-min) and (max-width: $screen--medium-max) {
            @include ResponsiveInvisibility();
        }
    }
    &.u-hidden--large {
        @media (min-width: $screen--large-min) {
            @include ResponsiveInvisibility();
        }
    }
}
.u-hidden--medium {
    @include ResponsiveVisibility();
    &.u-hidden--extraSmall {
        @media (max-width: $screen--extraSmall-max) {
            @include ResponsiveInvisibility();
        }
    }
    &.u-hidden--small {
        @media (min-width: $screen--small-min) and (max-width: $screen--small-max) {
            @include ResponsiveInvisibility();
        }
    }
    @media (min-width: $screen--medium-min) and (max-width: $screen--medium-max) {
        @include ResponsiveInvisibility();
    }
    &.u-hidden--large {
        @media (min-width: $screen--large-min) {
            @include ResponsiveInvisibility();
        }
    }
}
.u-hidden--large {
    @include ResponsiveVisibility();
    &.u-hidden--extraSmall {
        @media (max-width: $screen--extraSmall-max) {
            @include ResponsiveInvisibility();
        }
    }
    &.u-hidden--small {
        @media (min-width: $screen--small-min) and (max-width: $screen--small-max) {
            @include ResponsiveInvisibility();
        }
    }
    &.u-hidden--medium {
        @media (min-width: $screen--medium-min) and (max-width: $screen--medium-max) {
            @include ResponsiveInvisibility();
        }
    }
    @media (min-width: $screen--large-min) {
        @include ResponsiveInvisibility();
    }
}

/* Print utilities */
.u-visible--print {
    @include ResponsiveInvisibility();
}

@media print {
    .u-visible--print {
        @include ResponsiveVisibility();
    }
    .u-hidden--print {
        @include ResponsiveInvisibility();
    }
}
