// ==========================================================================
// Responsive: Utility classes
// ==========================================================================

// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#browsers
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@at-root {
	@-ms-viewport {
		width: device-width;
	}
}


// Visibility utilities
// Note: Deprecated .u-visible--extraSmall, .u-visible--small,
// .u-visible--medium,and .u-visible--large as of v3.2.0

@include ResponsiveInvisibility(".u-visible--extraSmall");
@include ResponsiveInvisibility(".u-visible--small");
@include ResponsiveInvisibility(".u-visible--medium");
@include ResponsiveInvisibility(".u-visible--large ");

.u-visible--extraSmall--block,
.u-visible--extraSmall--inline,
.u-visible--extraSmall--inlineBlock,
.u-visible--small--block,
.u-visible--small--inline,
.u-visible--small--inlineBlock,
.u-visible--medium--block,
.u-visible--medium--inline,
.u-visible--medium--inlineBlock,
.u-visible--large--block,
.u-visible--large--inline,
.u-visible--large--inlineBlock {
	display: none !important;
}



.u-visible--extraSmall {
	@media (max-width: $screen-extra-small-max) {
		@include ResponsiveVisibility(".u-visible--extraSmall");
	}
}

.u-visible--extrasmall--block {
	@media (max-width: $screen-extra-small-max) {
		display: block !important;
	}
}

.u-visible--extraSmall--inline {
	@media (max-width: $screen-extra-small-max) {
		display: inline !important;
	}
}

.u-visible--extraSmall--inlineBlock {
	@media (max-width: $screen-extra-small-max) {
		display: inline-block !important;
	}
}



.u-visible--small {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		@include ResponsiveVisibility();
	}
}

.u-visible--small--block {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		display: block !important;
	}
}

.u-visible--small--inline {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		display: inline !important;
	}
}

.u-visible--small--inlineBlock {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		display: inline-block !important;
	}
}



.u-visible--medium {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		@include ResponsiveVisibility();
	}
}

.u-visible--medium--block {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		display: block !important;
	}
}

.u-visible--medium--inline {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		display: inline !important;
	}
}

.u-visible--medium--inlineBlock {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		display: inline-block !important;
	}
}



.u-visible--large {
	@media (min-width: $screen-large-min) {
		@include ResponsiveVisibility();
	}
}

.u-visible--large--block {
	@media (min-width: $screen-large-min) {
		display: block !important;
	}
}

.u-visible--large--inline {
	@media (min-width: $screen-large-min) {
		display: inline !important;
	}
}

.u-visible--large--inlineBlock {
	@media (min-width: $screen-large-min) {
		display: inline-block !important;
	}
}



@media (max-width: $screen-extra-small-max) {
	@include ResponsiveInvisibility(".u-hidden--extraSmall");
}

@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
	@include ResponsiveInvisibility(".u-hidden--small");
}

@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
	@include ResponsiveInvisibility(".u-hidden--medium");
}

@media (min-width: $screen-large-min) {
	@include ResponsiveInvisibility(".u-hidden--large");
}




// Print utilities
// Media queries are placed on the inside to be mixin-friendly.

// Note: Deprecated .u-visible--print as of v3.2.0

@include ResponsiveInvisibility(".u-visible--print");

@media print {
	@include ResponsiveVisibility(".u-visible--print");
}

.u-visible--print--block {
	display: none !important;

	@media print {
		display: block !important;
	}
}

.u-visible--print--inline {
	display: none !important;

	@media print {
		display: inline !important;
	}
}

.u-visible--print--inlineBlock {
	display: none !important;

	@media print {
		display: inline-block !important;
	}
}

.u-hidden-print {
	@media print {
		@include ResponsiveInvisibility();
	}
}
