/* ==========================================================================
   Responsive: Utility classes
   ========================================================================== */

/**
 * IE10 in Windows (Phone) 8
 *
 * Support for responsive views via media queries is kind of borked in IE10, for
 * Surface/desktop in split view and for Windows Phone 8. This particular fix
 * must be accompanied by a snippet of JavaScript to sniff the user agent and
 * apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
 * our Getting Started page for more information on this bug.
 *
 * For more information, see the following:
 *
 * Issue: https://github.com/twbs/bootstrap/issues/10497
 * Docs: http://getbootstrap.com/getting-started/#browsers
 * Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
 */

@-ms-viewport {
	width: device-width;
}

// Visibility utilities
// Note: Deprecated .u-visible--extraSmall, .u-visible--small, .u-visible--medium, and .u-visible--large as of v3.2.0
.u-visible--extraSmall,
.u-visible--small,
.u-visible--medium,
.u-visible--large {
	@include ResponsiveInvisibility();
}

.u-visible--extraSmall-block,
.u-visible--extraSmall-inline,
.u-visible--extraSmall-inline-block,
.u-visible--small-block,
.u-visible--small-inline,
.u-visible--small-inline-block,
.u-visible--medium-block,
.u-visible--medium-inline,
.u-visible--medium-inline-block,
.u-visible--large-block,
.u-visible--large-inline,
.u-visible--large-inline-block {
	display: none !important;
}



.u-visible--extraSmall {
	@media (max-width: $screen-extra-small-max) {
		@include ResponsiveVisibility();
	}
}

.u-visible--extraSmall-block {
	@media (max-width: $screen-extra-small-max) {
		display: block !important;
	}
}

.u-visible--extraSmall-inline {
	@media (max-width: $screen-extra-small-max) {
		display: inline !important;
	}
}

.u-visible--extraSmall-inline-block {
	@media (max-width: $screen-extra-small-max) {
		display: inline-block !important;
	}
}



.u-visible--small {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		@include ResponsiveVisibility();
	}
}

.u-visible--small-block {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		display: block !important;
	}
}

.u-visible--small-inline {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		display: inline !important;
	}
}

.u-visible--small-inline-block {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		display: inline-block !important;
	}
}



.u-visible--medium {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		@include ResponsiveVisibility();
	}
}

.u-visible--medium-block {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		display: block !important;
	}
}

.u-visible--medium-inline {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		display: inline !important;
	}
}

.u-visible--medium-inline-block {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		display: inline-block !important;
	}
}



.u-visible--large {
	@media (min-width: $screen-large-min) {
		@include ResponsiveVisibility();
	}
}

.u-visible--large-block {
	@media (min-width: $screen-large-min) {
		display: block !important;
	}
}

.u-visible--large-inline {
	@media (min-width: $screen-large-min) {
		display: inline !important;
	}
}

.u-visible--large-inline-block {
	@media (min-width: $screen-large-min) {
		display: inline-block !important;
	}
}



.u-hidden--extraSmall {
	@media (max-width: $screen-extra-small-max) {
		@include ResponsiveInvisibility();
	}
}

.u-hidden--small {
	@media (min-width: $screen-small-min) and (max-width: $screen-small-max) {
		@include ResponsiveInvisibility();
	}
}

.u-hidden--medium {
	@media (min-width: $screen-medium-min) and (max-width: $screen-medium-max) {
		@include ResponsiveInvisibility();
	}
}

.u-hidden--large {
	@media (min-width: $screen-large-min) {
		@include ResponsiveInvisibility();
	}
}



/**
 * Print utilities
 * Media queries are placed on the inside to be mixin-friendly.
 */

/* Note: Deprecated .u-visible--print as of v3.2.0 */
.u-visible--print {
	@include ResponsiveInvisibility();

	@media print {
		@include ResponsiveVisibility();
	}
}

.u-visible--print-block {
	display: none !important;

	@media print {
		display: block !important;
	}
}

.u-visible--print-inline {
	display: none !important;

	@media print {
		display: inline !important;
	}
}

.u-visible--print-inline-block {
	display: none !important;

	@media print {
		display: inline-block !important;
	}
}

.u-hidden-print {
	@media print {
		@include ResponsiveInvisibility();
	}
}
