/* ==========================================================================
   Utility classes
   ========================================================================== */

/* Floats
   ========================================================================== */
.u-clearfix {
	@include MicroClearfix();
}
.u-centerBlock {
	@include CenterBlock();
}
.u-pull--right {
	@include PullRight();
}
.u-pull--left {
	@include PullLeft();
}



/* Toggling content
   ========================================================================== */
.u-screenReaderOnly{
	@include ScreenReaderOnly();
}

.u-hide {
	display: none !important;
}

.u-show {
	display: block !important;
}

.u-invisible {
	visibility: hidden;
}

.u-textHide {
	@include TextHide();
}




/* For Affix plugin
   ========================================================================== */
.u-affix {
	position: fixed;
}
