/* ==========================================================================
   Utility classes
   ========================================================================== */

/* Floats
   ========================================================================== */

.u-clearfix {
    @include MicroClearfix();
}
.u-centerBlock {
    @include CenterBlock();
}
.u-pull--right {
    float: right !important;
}
.u-pull--left {
    float: left !important;
}



/* Toggling content
   ========================================================================== */

/* Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1 */
.u-hide {
    display: none !important;
}
.u-show {
    display: block !important;
}
.u-invisible {
    visibility: hidden;
}
.u-textHide {
    @include TextHide();
}



/* For Affix plugin
   ========================================================================== */

.u-affix {
    position: fixed;
}
