<li>
	<a href="#designprinciples">Design principles</a>
	<ul class="Nav">
		<li><a href="#singleresponsibilityprinciple">Single responsibility principle</a></li>
		<li><a href="#extension">Extension over direct modification</a></li>
		<li><a href="#composition">Composition over inheritance</a></li>
		<li><a href="#coupling">Low coupling</a></li>
		<li><a href="#encapsulation">Encapsulation</a></li>
		<li><a href="#documentation">Documentation</a></li>
		<li><a href="#relatedreading">Related reading</a></li>
	</ul>
</li>
<li>
	<a href="#namingconventions">Naming conventions</a>
	<ul class="Nav">
		<li><a href="#u_utilityName">u-utilityName</a></li>
		<li><a href="#ComponentName">ComponentName</a></li>
		<li><a href="#ComponentName-_modifierName">ComponentName--modifierName</a></li>
		<li><a href="#ComponentName_descendantName">ComponentName-descendantName</a></li>
		<li><a href="#is_stateOfComponent">ComponentName.is-stateOfComponent</a></li>
		<li><a href="#js_someName">js-someName</a></li>
	</ul>
</li>
<li><a href="#utilities">Utilities</a></li>
<li><a href="#components">Components</a></li>
<li><a href="#miscellaneousconsiderations">Misc</a></li>
