<header class="Navbar Navbar--inverse Navbar--fixedTop bs-docs-nav" role="banner">
	<div class="Container">
		<div class="Navbar-header">
			<button class="Navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-Navbar-collapse">
				<span class="u-screenReaderOnly">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ page.base_url }}" class="Navbar-brand">Suitstrap</a>
		</div>
		<nav class="collapse Navbar-collapse bs-Navbar-collapse" role="navigation">
			<ul class="Nav Navbar-nav">
<!-- 				<li{% if page.slug == "getting-started" %} class="is-active"{% endif %}>
					<a href="{{ page.base_url }}getting-started">Getting started</a>
				</li> -->
				<li{% if page.slug == "css" %} class="is-active"{% endif %}>
					<a href="{{ page.base_url }}css">CSS</a>
				</li>
				<li{% if page.slug == "components" %} class="is-active"{% endif %}>
					<a href="{{ page.base_url }}components">Components</a>
				</li>
				<li{% if page.slug == "js" %} class="is-active"{% endif %}>
					<a href="{{ page.base_url }}javascript">JavaScript</a>
				</li>
				<li{% if page.slug == "customize" %} class="is-active"{% endif %}>
					<a href="{{ page.base_url }}customize">Customize</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
