<div class="bs-social">
  <ul class="bs-social-buttons">
    <li>
      <iframe class="github-Button" src="http://ghButtons.com/github-Button.html?user=vanhoofmaarten&amp;repo=suitstrap&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
    </li>
    <li>
      <iframe class="github-Button" src="http://ghButtons.com/github-Button.html?user=vanhoofmaarten&amp;repo=suitstrap&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
    </li>
    <li class="follow-Button">
      <a href="https://twitter.com/vanhoofmaarten" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @vanhoofmaarten</a>
    </li>
    <li class="tweet-Button">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/vanhoofmaarten/suitstrap" data-count="horizontal" data-via="suitstrap" data-related="vanhoofmaarten:Twerker of Suitstrap">Tweet</a>
    </li>
  </ul>
</div>
