/* ==========================================================================
   Alerts
   ========================================================================== */

.Alert {
	padding: $alert-padding;
	margin-bottom: $line-height-computed;
	border: 1px solid transparent;
	border-radius: $alert-border-radius;

	/* Headings for larger alerts */
	h4 {
		margin-top: 0;
		/* Specified for the h4 to prevent conflicts of changing $headings-color */
		color: inherit;
	}

	/* Provide class for links that match alerts */
	.Alert-link {
		font-weight: $alert-link-font-weight;
	}

	> p,
	> ul {
		margin-bottom: 0;
	}

	> p + p {
		margin-top: 5px;
	}
}



/**
 * Dismissible alerts
 * Expand the right padding and account for the close button's positioning.
 */

.Alert--dismissible {
 padding-right: ($alert-padding + 20);

	/* Adjust close link position */
	.Close {
		position: relative;
		top: -2px;
		right: -21px;
		color: inherit;
	}
}



/**
 * Alternate styles
 * Generate contextual modifier classes for colorizing the alert.
 */

.Alert--success {
	@include AlertVariant($alert-success-bg, $alert-success-border, $alert-success-text);
}
.Alert--info {
	@include AlertVariant($alert-info-bg, $alert-info-border, $alert-info-text);
}
.Alert--warning {
	@include AlertVariant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}
.Alert--danger {
	@include AlertVariant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
