/* ==========================================================================
   Badges
   ========================================================================== */

.Badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: $font-size-small;
	font-weight: $badge-font-weight;
	color: $badge-color;
	line-height: $badge-line-height;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: $badge-bg;
	border-radius: $badge-border-radius;

	/* Empty badges collapse automatically (not available in IE8) */
	&:empty {
		display: none;
	}

	/* Quick fix for badges in buttons */
	.Button & {
		position: relative;
		top: -1px;
	}

	.Button--extraSmall & {
	.ButtonGroup--extraSmall > .Button & {
		top: 0;
		padding: 1px 5px;
	}

	/* Account for counters in navs */
	.ListGroup-item.is-active > &,
	.Nav--pills > .is-active > a > & {
		color: $badge-active-color;
		background-color: $badge-active-bg;
	}

	.ListGroup-item > & {
		float: right;
	}

	.ListGroup-item > & > & {
		margin-right: 5px;
	}

	.Nav--pills > li > a > & {
		margin-left: 3px;
	}
}

/* Hover state, but only for links */
a.Badge {
	&:hover,
	&:focus {
		color: $badge-link-hover-color;
		text-decoration: none;
		cursor: pointer;
	}
}
