/* ==========================================================================
   Carousel
   ========================================================================== */


/* Wrapper for the slide container and indicators */
.Carousel {
	position: relative;
}

.Carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;

	> .Carousel-item {
		display: none;
		position: relative;
		@include transition(.6s ease-in-out left);

		/* Account for jankitude on images */
		> img,
		> a > img {
			@include ImageResponsive();
			line-height: 1;
		}
	}

	> .is-active,
	> .isNext,
	> .isPrevious { display: block; }

	> .is-active {
		left: 0;
	}

	> .isNext,
	> .isPrevious {
		position: absolute;
		top: 0;
		width: 100%;
	}

	> .isNext {
		left: 100%;
	}
	> .isPrevious {
		left: -100%;
	}
	> .isNext.left,
	> .isPrevious.right {
		left: 0;
	}

	> .is-active.left {
		left: -100%;
	}
	> .is-active.right {
		left: 100%;
	}
}



/* Left/right controls for nav
   ========================================================================== */

.Carousel-control {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: $carousel-control-width;
	@include opacity($carousel-control-opacity);
	font-size: $carousel-control-font-size;
	color: $carousel-control-color;
	text-align: center;
	text-shadow: $carousel-text-shadow;
	/* We can't have this transition here because webkit cancels the carousel */
	/* animation if you trip this while in the middle of another animation. */

	/* Set gradients for backgrounds */
	&.left {
		// #gradient > .horizontal($start-color: rgba(0,0,0,.5); $end-color: rgba(0,0,0,.0001));
	}

	&.right {
		left: auto;
		right: 0;
		// #gradient > .horizontal($start-color: rgba(0,0,0,.0001); $end-color: rgba(0,0,0,.5));
	}

	/* Hover/focus state */
	&:hover,
	&:focus {
		color: $carousel-control-color;
		text-decoration: none;
		@include opacity(.9);
	}

	/* Toggles */
	.Icon--previous,
	.Icon--next,
	.Glyphicon--chevron-left,
	.Glyphicon--chevron-right {
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
	}

	.Icon--previous,
	.Glyphicon--chevron-left {
		left: 50%;
	}

	.Icon--next,
	.Glyphicon--chevron-right {
		right: 50%;
	}

	.Icon--previous,
	.Icon--next {
		width:    20px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
		font-family: serif;
	}

	.Icon--previous {
		&:before {
			content: '\2039';/* SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039) */
		}
	}
	.Icon--next {
		&:before {
			content: '\203a';/* SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A) */
		}
	}
}



/**
 * Optional indicator pips
 * Add an unordered list with the following class and add a list item for each
 * slide your carousel holds.
 */

.Carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		width:    10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		border: 1px solid $carousel-indicator-border-color;
		border-radius: 10px;
		cursor: pointer;
	}
	.is-active {
		margin: 0;
		width:    12px;
		height: 12px;
		background-color: $carousel-indicator-active-bg;
	}
}

/* Optional captions
========================================================================== */

/* Hidden by default for smaller viewports */
.Carousel-caption {
	position: absolute;
	left: 15%;
	right: 15%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $carousel-caption-color;
	text-align: center;
	text-shadow: $carousel-text-shadow;
	& .Button {
		text-shadow: none; /* No shadow for button elements in carousel-caption */
	}
}


/* Scale up controls for tablets and up */
@media screen and (min-width: $screen--small-min) {

	/* Scale up the controls a smidge */
	.Carousel-control {
		.Glyphicons-chevron-left,
		.Glyphicons-chevron-right,
		.Icon--previous,
		.Icon--next {
			width: 30px;
			height: 30px;
			margin-top: -15px;
			margin-left: -15px;
			font-size: 30px;
		}
	}

	/* Show and left align the captions */
	.Carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
	}

	/* Move up the indicators */
	.Carousel-indicators {
		bottom: 20px;
	}
}
