/* ==========================================================================
   Carousel
   ========================================================================== */


/* Wrapper for the slide container and indicators */
.Carousel {
	position: relative;
}

.Carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;

	> .Carousel-item {
		display: none;
		position: relative;
		transition: .6s ease-in-out left;

		/* Account for jankitude on images */
		> img,
		> a > img {
			@include ImageResponsive();
			line-height: 1;
		}

		@media all and (transform-3d), (-webkit-transform-3d) {
			transition: transform .6s ease-in-out;
			backface-visibility: hidden;
			perspective: 1000px;

			&.is-next,
			&.is-active.Carousel-control--right {
				transform: translate3d(100%, 0, 0);
				left: 0;
			}

			&.is-previous,
			&.is-active.Carousel-control--left {
				transform: translate3d(-100%, 0, 0);
				left: 0;
			}

			& .is-next.Carousel-control--left,
			& .is-previous.Carousel-control--right,
			&.is-active {
				transform: translate3d(0, 0, 0);
				left: 0;
			}
		}
	}

	> .is-active,
	> .is-next,
	> .is-previous {
		display: block;
	}

	> .is-active {
		left: 0;
	}

	> .is-next,
	> .is-previous {
		position: absolute;
		top: 0;
		width: 100%;
	}

	> .is-next {
		left: 100%;
	}

	> .is-previous {
		left: -100%;
	}

	> .is-next.Carousel-control--left,
	> .is-previous.Carousel-control--right {
		left: 0;
	}

	> .is-active.Carousel-control--left {
		left: -100%;
	}

	> .is-active.Carousel-control--right {
		left: 100%;
	}
}



/* Left/right controls for nav
   ========================================================================== */

.Carousel-control {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: $carousel-control-width;
	opacity: $carousel-control-opacity;
	font-size: $carousel-control-font-size;
	color: $carousel-control-color;
	text-align: center;
	text-shadow: $carousel-text-shadow;
	/**
	 * We can't have this transition here because webkit cancels the carousel
	 * animation if you trip this while in the middle of another animation.
	 */

	/* Set gradients for backgrounds */
	&.Carousel-control--left {
		@include Gradient--horizontal($start-color: rgba(0,0,0,.5), $end-color: rgba(0,0,0,.0001));
	}

	&.Carousel-control--right {
		left: auto;
		right: 0;
		@include Gradient--horizontal($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,.5));
	}

	/* Hover/focus state */
	&:hover,
	&:focus {
		outline: 0;
		color: $carousel-control-color;
		text-decoration: none;
		opacity: .9;
	}

	/* Toggles */
	.Icon--previous,
	.Icon--next,
	.Glyphicon--chevronLeft,
	.Glyphicon--chevronRight {
		position: absolute;
		top: 50%;
		margin-top: -10px;
		z-index: 5;
		display: inline-block;
	}

	.Icon--previous,
	.Glyphicon--chevronLeft {
		left: 50%;
		margin-left: -10px;
	}

	.Icon--next,
	.Glyphicon--chevronRight {
		right: 50%;
		margin-right: -10px;
	}

	.Icon--previous,
	.Icon--next {
		width: 20px;
		height: 20px;
		line-height: 1;
		font-family: serif;
	}

	.Icon--previous {
		&:before {
			content: '\2039';/* SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039) */
		}
	}

	.Icon--next {
		&:before {
			content: '\203a';/* SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A) */
		}
	}
}



/**
 * Optional indicator pips
 *
 * Add an unordered list with the following class and add a list item for each
 * slide your carousel holds.
 */

.Carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		@include Square(10px);
		margin: 1px;
		text-indent: -999px;
		border: 1px solid $carousel-indicator-border-color;
		border-radius: 10px;
		cursor: pointer;

		/**
		 * IE8-9 hack for event handling
		 *
		 * Internet Explorer 8-9 does not support clicks on elements without a set
		 * `background-color`. We cannot use `filter` since that's not viewed as a
		 * background color by the browser. Thus, a hack is needed.
		 *
		 * For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
		 * set alpha transparency for the best results possible.
		 */

		background-color: #000 \9; // IE8
		background-color: rgba(0,0,0,0); // IE9
	}

	.is-active {
		margin: 0;
		@include Square(12px);
		background-color: $carousel-indicator-active-bg;
	}
}



/* Optional captions
========================================================================== */

/* Hidden by default for smaller viewports */
.Carousel-caption {
	position: absolute;
	left: 15%;
	right: 15%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $carousel-caption-color;
	text-align: center;
	text-shadow: $carousel-text-shadow;

	& .Button {
		text-shadow: none; /* No shadow for button elements in carousel-caption */
	}
}


/* Scale up controls for tablets and up */
@media screen and (min-width: $screen-small-min) {

	/* Scale up the controls a smidge */
	.Carousel-control {
		.Glyphicons-chevronLeft,
		.Glyphicons-chevronRight,
		.Icon--previous,
		.Icon--next {
			width: 30px;
			height: 30px;
			margin-top: -15px;
			font-size: 30px;
		}

		.Glyphicons--chevronLeft{
			margin-left: -15px;
		}

		.Glyphicons--chevronRight{
			margin-right: -15px;
		}

	}

	/* Show and left align the captions */
	.Carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
	}

	/* Move up the indicators */
	.Carousel-indicators {
		bottom: 20px;
	}
}
