/* ==========================================================================
   Button carets
   ========================================================================== */

/**
 * Match the button text color to the arrow/caret for indicating dropdown-ness.
 */

.Caret {
	.Button--default & {
		border-top-color: $btn-default-color;
	}
	.Button--primary &,
	.Button--success &,
	.Button--warning &,
	.Button--danger &,
	.Button--info & {
		border-top-color: #fff;
	}
}

.Dropup {
	& .Button-default .Caret {
		border-bottom-color: $btn-default-color;
	}
	.Button--primary,
	.Button--success,
	.Button--warning,
	.Button--danger,
	.Button--info {
	 .Caret {
			border-bottom-color: #fff;
		}
	}
}
