/* ==========================================================================
   Component animations
   ========================================================================== */

/**
 * Heads up!
 *
 * We don't use the `@include opacity()` mixin here since it causes a bug with text
 * fields in IE7-8. Source: https://github.com/twitter/bootstrap/pull/3552.
 */

.Animation--fade {
	opacity: 0;
	transition: opacity .15s linear;

	&.is-in {
		opacity: 1;
	}
}

.Animation--collapse {
	display: none;

	&.is-in {
		display: block;
	}
}

tr.Animation--collapse.is-in {
	display: table-row;
}

tbody.Animation--collapse.is-in {
	display: table-row-group;
}

.Animation--collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition-property: height, visibility;
	transition-duration: .35s;
	transition-timing-function: ease;
}
