/* ==========================================================================
   Component animations
   ========================================================================== */

/* Heads up!
 * We don't use the `@include opacity()` mixin here since it causes a bug with text
 * fields in IE7-8. Source: https://github.com/twitter/bootstrap/pull/3552.
 */

.Animation--fade {
	opacity: 0;
	transition: opacity .15s linear;
	&.is-in {
		opacity: 1;
	}
}

.Animation--collapse {
	display: none;
	&.is-in {
		display: block;
	}
}

.Animation--collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height .35s ease;
}
