/**
 * Glyphicons for Bootstrap
 *
 * Since icons are fonts, they can be placed anywhere text is placed and are
 * thus automatically sized to match the surrounding child. To use, create an
 * inline element with the appropriate classes, like so:
 *
 * <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>
 */

/* Import the fonts */
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('#{$icon-font-path}#{$icon-font-name}.eot');
	src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
			 url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
			 url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),
			 url('#{$icon-font-path}#{$icon-font-name}.svg#glyphicons-halflingsregular') format('svg');
}

/* Catchall baseclass */
.Glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Individual icons */
.Glyphicon--asterisk            { &:before { content: "\2a"; } }
.Glyphicon--plus                { &:before { content: "\2b"; } }
.Glyphicon--euro                { &:before { content: "\20ac"; } }
.Glyphicon--minus               { &:before { content: "\2212"; } }
.Glyphicon--cloud               { &:before { content: "\2601"; } }
.Glyphicon--envelope            { &:before { content: "\2709"; } }
.Glyphicon--pencil              { &:before { content: "\270f"; } }
.Glyphicon--glass               { &:before { content: "\e001"; } }
.Glyphicon--music               { &:before { content: "\e002"; } }
.Glyphicon--search              { &:before { content: "\e003"; } }
.Glyphicon--heart               { &:before { content: "\e005"; } }
.Glyphicon--star                { &:before { content: "\e006"; } }
.Glyphicon--starEmpty           { &:before { content: "\e007"; } }
.Glyphicon--user                { &:before { content: "\e008"; } }
.Glyphicon--film                { &:before { content: "\e009"; } }
.Glyphicon--thLarge             { &:before { content: "\e010"; } }
.Glyphicon--th                  { &:before { content: "\e011"; } }
.Glyphicon--thList              { &:before { content: "\e012"; } }
.Glyphicon--ok                  { &:before { content: "\e013"; } }
.Glyphicon--remove              { &:before { content: "\e014"; } }
.Glyphicon--zoomIn              { &:before { content: "\e015"; } }
.Glyphicon--zoomOut             { &:before { content: "\e016"; } }
.Glyphicon--off                 { &:before { content: "\e017"; } }
.Glyphicon--signal              { &:before { content: "\e018"; } }
.Glyphicon--cog                 { &:before { content: "\e019"; } }
.Glyphicon--trash               { &:before { content: "\e020"; } }
.Glyphicon--home                { &:before { content: "\e021"; } }
.Glyphicon--file                { &:before { content: "\e022"; } }
.Glyphicon--time                { &:before { content: "\e023"; } }
.Glyphicon--road                { &:before { content: "\e024"; } }
.Glyphicon--downloadAlt         { &:before { content: "\e025"; } }
.Glyphicon--download            { &:before { content: "\e026"; } }
.Glyphicon--upload              { &:before { content: "\e027"; } }
.Glyphicon--inbox               { &:before { content: "\e028"; } }
.Glyphicon--playCircle          { &:before { content: "\e029"; } }
.Glyphicon--repeat              { &:before { content: "\e030"; } }
.Glyphicon--refresh             { &:before { content: "\e031"; } }
.Glyphicon--listAlt             { &:before { content: "\e032"; } }
.Glyphicon--lock                { &:before { content: "\e033"; } }
.Glyphicon--flag                { &:before { content: "\e034"; } }
.Glyphicon--headphones          { &:before { content: "\e035"; } }
.Glyphicon--volumeOff           { &:before { content: "\e036"; } }
.Glyphicon--volumeDown          { &:before { content: "\e037"; } }
.Glyphicon--volumeUp            { &:before { content: "\e038"; } }
.Glyphicon--qrcode              { &:before { content: "\e039"; } }
.Glyphicon--barcode             { &:before { content: "\e040"; } }
.Glyphicon--tag                 { &:before { content: "\e041"; } }
.Glyphicon--tags                { &:before { content: "\e042"; } }
.Glyphicon--book                { &:before { content: "\e043"; } }
.Glyphicon--bookmark            { &:before { content: "\e044"; } }
.Glyphicon--print               { &:before { content: "\e045"; } }
.Glyphicon--camera              { &:before { content: "\e046"; } }
.Glyphicon--font                { &:before { content: "\e047"; } }
.Glyphicon--bold                { &:before { content: "\e048"; } }
.Glyphicon--italic              { &:before { content: "\e049"; } }
.Glyphicon--textHeight          { &:before { content: "\e050"; } }
.Glyphicon--textWidth           { &:before { content: "\e051"; } }
.Glyphicon--alignLeft           { &:before { content: "\e052"; } }
.Glyphicon--alignCenter         { &:before { content: "\e053"; } }
.Glyphicon--alignRight          { &:before { content: "\e054"; } }
.Glyphicon--alignJustify        { &:before { content: "\e055"; } }
.Glyphicon--list                { &:before { content: "\e056"; } }
.Glyphicon--indentLeft          { &:before { content: "\e057"; } }
.Glyphicon--indentRight         { &:before { content: "\e058"; } }
.Glyphicon--facetimeVideo       { &:before { content: "\e059"; } }
.Glyphicon--picture             { &:before { content: "\e060"; } }
.Glyphicon--mapMarker           { &:before { content: "\e062"; } }
.Glyphicon--adjust              { &:before { content: "\e063"; } }
.Glyphicon--tint                { &:before { content: "\e064"; } }
.Glyphicon--edit                { &:before { content: "\e065"; } }
.Glyphicon--share               { &:before { content: "\e066"; } }
.Glyphicon--check               { &:before { content: "\e067"; } }
.Glyphicon--move                { &:before { content: "\e068"; } }
.Glyphicon--stepBackward        { &:before { content: "\e069"; } }
.Glyphicon--fastBackward        { &:before { content: "\e070"; } }
.Glyphicon--backward            { &:before { content: "\e071"; } }
.Glyphicon--play                { &:before { content: "\e072"; } }
.Glyphicon--pause               { &:before { content: "\e073"; } }
.Glyphicon--stop                { &:before { content: "\e074"; } }
.Glyphicon--forward             { &:before { content: "\e075"; } }
.Glyphicon--fastForward         { &:before { content: "\e076"; } }
.Glyphicon--stepForward         { &:before { content: "\e077"; } }
.Glyphicon--eject               { &:before { content: "\e078"; } }
.Glyphicon--chevronLeft         { &:before { content: "\e079"; } }
.Glyphicon--chevronRight        { &:before { content: "\e080"; } }
.Glyphicon--plusSign            { &:before { content: "\e081"; } }
.Glyphicon--minusSign           { &:before { content: "\e082"; } }
.Glyphicon--removeSign          { &:before { content: "\e083"; } }
.Glyphicon--okSign              { &:before { content: "\e084"; } }
.Glyphicon--questionSign        { &:before { content: "\e085"; } }
.Glyphicon--infoSign            { &:before { content: "\e086"; } }
.Glyphicon--screenshot          { &:before { content: "\e087"; } }
.Glyphicon--removeCircle        { &:before { content: "\e088"; } }
.Glyphicon--okCircle            { &:before { content: "\e089"; } }
.Glyphicon--banCircle           { &:before { content: "\e090"; } }
.Glyphicon--arrowLeft           { &:before { content: "\e091"; } }
.Glyphicon--arrowRight          { &:before { content: "\e092"; } }
.Glyphicon--arrowUp             { &:before { content: "\e093"; } }
.Glyphicon--arrowDown           { &:before { content: "\e094"; } }
.Glyphicon--shareAlt            { &:before { content: "\e095"; } }
.Glyphicon--resizeFull          { &:before { content: "\e096"; } }
.Glyphicon--resizeSmall         { &:before { content: "\e097"; } }
.Glyphicon--exclamationSign     { &:before { content: "\e101"; } }
.Glyphicon--gift                { &:before { content: "\e102"; } }
.Glyphicon--leaf                { &:before { content: "\e103"; } }
.Glyphicon--fire                { &:before { content: "\e104"; } }
.Glyphicon--eyeOpen             { &:before { content: "\e105"; } }
.Glyphicon--eyeClose            { &:before { content: "\e106"; } }
.Glyphicon--warningSign         { &:before { content: "\e107"; } }
.Glyphicon--plane               { &:before { content: "\e108"; } }
.Glyphicon--calendar            { &:before { content: "\e109"; } }
.Glyphicon--random              { &:before { content: "\e110"; } }
.Glyphicon--comment             { &:before { content: "\e111"; } }
.Glyphicon--magnet              { &:before { content: "\e112"; } }
.Glyphicon--chevronUp           { &:before { content: "\e113"; } }
.Glyphicon--chevronDown         { &:before { content: "\e114"; } }
.Glyphicon--retweet             { &:before { content: "\e115"; } }
.Glyphicon--shoppingCart        { &:before { content: "\e116"; } }
.Glyphicon--folderClose         { &:before { content: "\e117"; } }
.Glyphicon--folderOpen          { &:before { content: "\e118"; } }
.Glyphicon--resizeVertical      { &:before { content: "\e119"; } }
.Glyphicon--resizeHorizontal    { &:before { content: "\e120"; } }
.Glyphicon--hdd                 { &:before { content: "\e121"; } }
.Glyphicon--bullhorn            { &:before { content: "\e122"; } }
.Glyphicon--bell                { &:before { content: "\e123"; } }
.Glyphicon--certificate         { &:before { content: "\e124"; } }
.Glyphicon--thumbsUp            { &:before { content: "\e125"; } }
.Glyphicon--thumbsDown          { &:before { content: "\e126"; } }
.Glyphicon--handRight           { &:before { content: "\e127"; } }
.Glyphicon--handLeft            { &:before { content: "\e128"; } }
.Glyphicon--handUp              { &:before { content: "\e129"; } }
.Glyphicon--handDown            { &:before { content: "\e130"; } }
.Glyphicon--circleArrowRight    { &:before { content: "\e131"; } }
.Glyphicon--circleArrowLeft     { &:before { content: "\e132"; } }
.Glyphicon--circleArrowUp       { &:before { content: "\e133"; } }
.Glyphicon--circleArrowDown     { &:before { content: "\e134"; } }
.Glyphicon--globe               { &:before { content: "\e135"; } }
.Glyphicon--wrench              { &:before { content: "\e136"; } }
.Glyphicon--tasks               { &:before { content: "\e137"; } }
.Glyphicon--filter              { &:before { content: "\e138"; } }
.Glyphicon--briefcase           { &:before { content: "\e139"; } }
.Glyphicon--fullscreen          { &:before { content: "\e140"; } }
.Glyphicon--dashboard           { &:before { content: "\e141"; } }
.Glyphicon--paperclip           { &:before { content: "\e142"; } }
.Glyphicon--heartEmpty          { &:before { content: "\e143"; } }
.Glyphicon--link                { &:before { content: "\e144"; } }
.Glyphicon--phone               { &:before { content: "\e145"; } }
.Glyphicon--pushpin             { &:before { content: "\e146"; } }
.Glyphicon--usd                 { &:before { content: "\e148"; } }
.Glyphicon--gbp                 { &:before { content: "\e149"; } }
.Glyphicon--sort                { &:before { content: "\e150"; } }
.Glyphicon--sortByAlphabet      { &:before { content: "\e151"; } }
.Glyphicon--sortByAlphabetAlt   { &:before { content: "\e152"; } }
.Glyphicon--sortByOrder         { &:before { content: "\e153"; } }
.Glyphicon--sortByOrderAlt      { &:before { content: "\e154"; } }
.Glyphicon--sortByAttributes    { &:before { content: "\e155"; } }
.Glyphicon--sortByAttributesAlt { &:before { content: "\e156"; } }
.Glyphicon--unchecked           { &:before { content: "\e157"; } }
.Glyphicon--expand              { &:before { content: "\e158"; } }
.Glyphicon--collapseDown        { &:before { content: "\e159"; } }
.Glyphicon--collapseUp          { &:before { content: "\e160"; } }
.Glyphicon--logIn               { &:before { content: "\e161"; } }
.Glyphicon--flash               { &:before { content: "\e162"; } }
.Glyphicon--logOut              { &:before { content: "\e163"; } }
.Glyphicon--newWindow           { &:before { content: "\e164"; } }
.Glyphicon--record              { &:before { content: "\e165"; } }
.Glyphicon--save                { &:before { content: "\e166"; } }
.Glyphicon--open                { &:before { content: "\e167"; } }
.Glyphicon--saved               { &:before { content: "\e168"; } }
.Glyphicon--import              { &:before { content: "\e169"; } }
.Glyphicon--export              { &:before { content: "\e170"; } }
.Glyphicon--send                { &:before { content: "\e171"; } }
.Glyphicon--floppyDisk          { &:before { content: "\e172"; } }
.Glyphicon--floppySaved         { &:before { content: "\e173"; } }
.Glyphicon--floppyRemove        { &:before { content: "\e174"; } }
.Glyphicon--floppySave          { &:before { content: "\e175"; } }
.Glyphicon--floppyOpen          { &:before { content: "\e176"; } }
.Glyphicon--creditCard          { &:before { content: "\e177"; } }
.Glyphicon--transfer            { &:before { content: "\e178"; } }
.Glyphicon--cutlery             { &:before { content: "\e179"; } }
.Glyphicon--header              { &:before { content: "\e180"; } }
.Glyphicon--compressed          { &:before { content: "\e181"; } }
.Glyphicon--earphone            { &:before { content: "\e182"; } }
.Glyphicon--phoneAlt            { &:before { content: "\e183"; } }
.Glyphicon--tower               { &:before { content: "\e184"; } }
.Glyphicon--stats               { &:before { content: "\e185"; } }
.Glyphicon--sdVideo             { &:before { content: "\e186"; } }
.Glyphicon--hdVideo             { &:before { content: "\e187"; } }
.Glyphicon--subtitles           { &:before { content: "\e188"; } }
.Glyphicon--soundStereo         { &:before { content: "\e189"; } }
.Glyphicon--soundDolby          { &:before { content: "\e190"; } }
.Glyphicon--sound51             { &:before { content: "\e191"; } }
.Glyphicon--sound61             { &:before { content: "\e192"; } }
.Glyphicon--sound71             { &:before { content: "\e193"; } }
.Glyphicon--copyrightMark       { &:before { content: "\e194"; } }
.Glyphicon--registrationMark    { &:before { content: "\e195"; } }
.Glyphicon--cloudDownload       { &:before { content: "\e197"; } }
.Glyphicon--cloudUpload         { &:before { content: "\e198"; } }
.Glyphicon--treeConifer         { &:before { content: "\e199"; } }
.Glyphicon--treeDeciduous       { &:before { content: "\e200"; } }
