/* ==========================================================================
   Input groups
   ========================================================================== */

/* Base styles
   ========================================================================== */
.InputGroup {
	position: relative; /* For dropdowns */
	display: table;
	border-collapse: separate; /* prevent input groups from inheriting border styles from table cells when placed within a table */

	/* Undo padding and float of grid classes */
	&[class*="Col-"] {
		float: none;
		padding-left: 0;
		padding-right: 0;
	}

	.Form-control {
		// Ensure that the input is always above the *appended* addon button for
		// proper border colors.
		position: relative;
		z-index: 2;

		// IE9 fubars the placeholder attribute in text inputs and the arrows on
		// select elements in input groups. To fix it, we float the input. Details:
		// https://github.com/twbs/bootstrap/issues/11561#issuecomment-28936855
		float: left;

		width: 100%;
		margin-bottom: 0;
	}
}


/* Sizing options
   ==========================================================================
/**
 * Remix the default form control sizing classes into new ones for easier
 * manipulation.
 */

.InputGroup--large > .Form-control,
.InputGroup--large > .InputGroup-addon,
.InputGroup--large > .InputGroup-button > .Button {
	@extend .Input--large;
}

.InputGroup--small > .Form-control,
.InputGroup--small > .InputGroup-addon,
.InputGroup--small > .InputGroup-button > .Button {
	@extend .Input--small;
}



/* Display as table-cell
   ========================================================================== */
.InputGroup-addon,
.InputGroup-button,
.InputGroup .Form-control {
	display: table-cell;

	&:not(:first-child):not(:last-child) {
		border-radius: 0;
	}
}
/* Addon and addon wrapper for buttons */
.InputGroup-addon,
.InputGroup-button {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle; /* Match the inputs */
}



/* Text input groups
   ========================================================================== */
.InputGroup-addon {
	padding: $padding-base-vertical $padding-base-horizontal;
	font-size: $font-size-base;
	font-weight: normal;
	line-height: 1;
	color: $input-color;
	text-align: center;
	background-color: $input-group-addon-bg;
	border: 1px solid $input-group-addon-border-color;
	border-radius: $border-radius-base;

	/* Sizing */
	&.Input--small {
		padding: $padding-small-vertical $padding-small-horizontal;
		font-size: $font-size-small;
		border-radius: $border-radius-small;
	}

	&.Input--large {
		padding: $padding-large-vertical $padding-large-horizontal;
		font-size: $font-size-large;
		border-radius: $border-radius-large;
	}

	/* Nuke default margins from checkboxes and radios to vertically center within. */
	input[type="radio"],
	input[type="checkbox"] {
		margin-top: 0;
	}
}

/* Reset rounded corners */
.InputGroup .Form-control:first-child,
.InputGroup-addon:first-child,
.InputGroup-button:first-child > .Button,
.InputGroup-button:first-child > .ButtonGroup > .Button,
.InputGroup-button:first-child > .Dropdown-toggle,
.InputGroup-button:last-child > .Button:not(:last-child):not(.Dropdown-toggle),
.InputGroup-button:last-child > .ButtonGroup:not(:last-child) > .Button {
	@include BorderRightRadius(0);
}

.InputGroup-addon:first-child {
	border-right: 0;
}

/* Reset rounded corners */
.InputGroup .Form-control:last-child,
.InputGroup-addon:last-child,
.InputGroup-button:last-child > .Button,
.InputGroup-button:last-child > .ButtonGroup > .Button,
.InputGroup-button:last-child > .Dropdown-toggle,
.InputGroup-button:first-child > .Button:not(:first-child):not(.Dropdown-toggle),
.InputGroup-button:first-child > .ButtonGroup:not(:first-child) > .Button {
	@include BorderLeftRadius(0);
}

.InputGroup-addon:last-child {
	border-left: 0;
}



/* Button input groups
   ========================================================================== */
.InputGroup-button {
	position: relative;
	/**
	 * Jankily prevent input button groups from wrapping with `white-space` and
	 * `font-size` in combination with `inline-block` on buttons.
	 */
	font-size: 0;
	white-space: nowrap;


	/**
	 * Negative margin for spacing, position for bringing hovered/focused/actived
	 * element above the siblings.
	 */
	> .Button {
		position: relative;

		+ .Button {
			margin-left: -1px;
		}

		/**
		 * Bring the "active" button to the front
		 */
		&:hover,
		&:focus,
		&:active {
			z-index: 2;
		}
	}

	/**
	 * Negative margin to only have a 1px border between the two
	 */
	&:first-child {
		> .Button,
		> .ButtonGroup {
			margin-right: -1px;
		}
	}
	&:last-child {
		> .Button,
		> .ButtonGroup {
			margin-left: -1px;
		}
	}
}
