/* ==========================================================================
   Lead
   ========================================================================== */

.Lead {
	margin-bottom: $line-height-computed;
	font-size: floor($font-size-base * 1.15);
	font-weight: 200;
	line-height: 1.4;

	@media (min-width: $screen--small-min) {
		font-size: ($font-size-base * 1.5);
	}
}
