/* ==========================================================================
   Media objects
   ========================================================================== */


/* Common styles
   ========================================================================== */

/* Proper spacing between instances of .Media */
.Media {
   margin-top: 15px;

   &:first-child {
       margin-top: 0;
   }
}

/* Clear the floats */
.Media,
.Media-body {
    overflow: hidden;
    zoom: 1;
}

/* For images and videos, set to block */
.Media-object {
    display: block;

    &.Image--thumbnail{
        max-width: none;
    }
}

/* Reset margins on headings for tighter default spacing */
.Media-heading {
    margin: 0 0 5px;
}


/* Media image alignment
   ========================================================================== */

.Media-left,
.Media > .u-pull--left {
    margin-right: 10px;
}

.Media-right,
.Media > .u-pull--right {
    margin-left: 10px;
}

.Media-left,
.Media-right,
.Media-body {
  display: table-cell;
  vertical-align: top;
}

.Media-middle {
  vertical-align: middle;
}

.Media-bottom {
  vertical-align: bottom;
}


/* Media list variation
   ========================================================================== */

/* Undo default ul/ol styles */
.Media-list {
    padding-left: 0;
    list-style: none;
}
