/* ==========================================================================
   Media objects
   Source: http://stubbornella.org/content/?p=497
   ========================================================================== */


/* Common styles
   ========================================================================== */

/* Clear the floats */
.Media,
.Media-body {
    overflow: hidden;
    zoom: 1;
}

/* Proper spacing between instances of .Media */
.Media,
.Media .Media {
    margin-top: 15px;
}

.Media:first-child {
    margin-top: 0;
}

/* For images and videos, set to block */
.Media-object {
    display: block;
}

/* Reset margins on headings for tighter default spacing */
.Media-heading {
    margin: 0 0 5px;
}


/* Media image alignment
   ========================================================================== */

.Media {
    > .u-pull--left {
        margin-right: 10px;
    }
    > .u-pull--right {
        margin-left: 10px;
    }
}


/* Media list variation
   ========================================================================== */

/* Undo default ul/ol styles */
.Media-list {
    padding-left: 0;
    list-style: none;
}
