/* ==========================================================================
   Modals
   ========================================================================== */

/**
 * .has-openModal    - body class for killing the scroll
 * .Modal            - container to scroll within
 * .Modal-dialog     - positioning shell for the actual modal
 * .Modal-content    - actual modal w/ bg and corners and shit
 */

/* Kill the scroll on the body */
.has-openModal {
	overflow: hidden;
}

/* Container that the modal scrolls within */
.Modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal;
	-webkit-overflow-scrolling: touch;

	/**
	 * Prevent Chrome on Windows from adding a focus outline. For details, see
	 * https://github.com/twbs/bootstrap/pull/10951.
	 */
	outline: 0;

	/* When fading in the modal, animate it to slide down */
	&.Animation--fade .Modal-dialog {
		transform: translate( 0, -25%);
		transition: transform 0.3s ease-out;
	}

	&.is-in .Modal-dialog {
		transform: translate( 0, 0);
	}

	.has-openModal & {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

/* Shell div to position the modal with bottom padding */
.Modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

/* Actual modal */
.Modal-content {
	position: relative;
	background-color: $modal-content-bg;
	border: 1px solid $modal-content-fallback-border-color; /* old browsers fallback (ie8 etc) */
	border: 1px solid $modal-content-border-color;
	border-radius: $border-radius-large;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;

	/* Remove focus outline from opened modal */
	outline: none;
}

/* Modal background */
.Modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal-background;
	background-color: $modal-backdrop-bg;

	/* Fade for backdrop */
	&.Animation--fade { opacity: 0; }
	&.is-in { opacity: $modal-backdrop-opacity; }
}

/**
 * Modal header
 * Top section of the modal w/ title and dismiss
 */
.Modal-header {
	padding: $modal-title-padding;
	border-bottom: 1px solid $modal-header-border-color;
	min-height: ($modal-title-padding + $modal-title-line-height);
}

/* Close icon */
.Modal-header .Close {
	margin-top: -2px;
}

/* Title text within header */
.Modal-title {
	margin: 0;
	line-height: $modal-title-line-height;
}

/**
 * Modal body
 * Where all modal content resides (sibling of .Modal-header and .Modal-footer)
 */

.Modal-body {
	position: relative;
	padding: $modal-inner-padding;
}

/* Footer (for actions) */
.Modal-footer {
	padding: $modal-inner-padding;
	text-align: right; /* right align buttons */
	border-top: 1px solid $modal-footer-border-color;
	@include MicroClearfix(); /* clear it in case folks use .pull-* classes on buttons */

	/* Properly space out buttons */
	.Button + .Button {
		margin-left: 5px;
		margin-bottom: 0; /* account for input[type="submit"] which gets the bottom margin like all other inputs */
	}

	/* but override that for button groups */
	.Button-group .Button + .Button {
		margin-left: -1px;
	}

	/* and override it for block buttons as well */
	.Button-block + .Button-block {
		margin-left: 0;
	}
}

/* Measure scrollbar width for padding body during modal show/hide */
.Modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

/* Scale up the modal */
@media screen and (min-width: $screen-small-min) {

	.Modal-dialog {
		width: $modal-medium;
		margin: 30px auto;
	}

	.Modal--small {
		width: $modal-small;
	}

	.Modal-content {
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}
}

@media screen and (min-width: $screen-medium-min) {
	.Modal--large {
		width: $modal-large;
	}
}
