/* ==========================================================================
   Modals
   ========================================================================== */

/**
 * .has-openModal    - body class for killing the scroll
 * .Modal            - container to scroll within
 * .Modal-dialog     - positioning shell for the actual modal
 * .Modal-content    - actual modal w/ bg and corners and shit
 */

/* Kill the scroll on the body */
.has-openModal {
	overflow: hidden;
}

/* Container that the modal scrolls within */
.Modal {
	display: none;
	overflow: auto;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $zindex-modal-background;

	/* When fading in the modal, animate it to slide down */
	&.Animation--fade .Modal-dialog {
		transform: translate( 0, -25%);
		transition: transform 0.3s ease-out;
	}
	&.is-in .Modal-dialog {
		transform: translate( 0, 0);
	}
}

/* Shell div to position the modal with bottom padding */
.Modal-dialog {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding: 10px;
	z-index: ($zindex-modal-background + 10);
}

/* Actual modal */
.Modal-content {
	position: relative;
	background-color: $modal-content-bg;
	border: 1px solid $modal-content-fallback-border-color; /*old browsers fallback (ie8 etc) */
	border: 1px solid $modal-content-border-color;
	border-radius: $border-radius-large;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;

	/* Remove focus outline from opened modal */
	outline: none;
}

/* Modal background */
.Modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: ($zindex-modal-background - 10);
	background-color: $modal-backdrop-bg;

	/* Fade for backdrop */
	&.Animation--fade { opacity: 0; }
	&.is-in { opacity: .5; }
}

/**
 * Modal header
 * Top section of the modal w/ title and dismiss
 */
.Modal-header {
	padding: $modal-title-padding;
	border-bottom: 1px solid $modal-header-border-color;
	min-height: ($modal-title-padding + $modal-title-line-height);
}

/* Close icon */
.Modal-header .Close {
	margin-top: -2px;
}

/* Title text within header */
.Modal-title {
	margin: 0;
	line-height: $modal-title-line-height;
}

/**
 * Modal body
 * Where all modal content resides (sibling of .Modal-header and .Modal-footer)
 */

.Modal-body {
	position: relative;
	padding: $modal-inner-padding;
}

/* Footer (for actions) */
.Modal-footer {
	margin-top: 15px;
	padding: ($modal-inner-padding - 1) $modal-inner-padding $modal-inner-padding;
	text-align: right; /* right align buttons */
	border-top: 1px solid $modal-footer-border-color;
	@include MicroClearfix(); /* clear it in case folks use .pull-* classes on buttons */

	/* Properly space out buttons */
	.Button + .Button {
		margin-left: 5px;
		margin-bottom: 0; /* account for input[type="submit"] which gets the bottom margin like all other inputs */
	}

	/* but override that for button groups */
	.Button-group .Button + .Button {
		margin-left: -1px;
	}

	/* and override it for block buttons as well */
	.Button-block + .Button-block {
		margin-left: 0;
	}
}

/* Scale up the modal */
@media screen and (min-width: $screen--small-min) {

	.Modal-dialog {
		width: 600px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.Modal-content {
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}

}
