/* ==========================================================================
   Tooltips
   ========================================================================== */


/* Base class */
.Tooltip {
	position: absolute;
	z-index: $zindex-tooltip;
	display: block;
	visibility: visible;
	font-size: $font-size-small;
	line-height: 1.4;
	opacity: 0;

	&.Tooltip--in     { opacity: .9; }
	&.Tooltip--top    { margin-top: -3px; padding: $tooltip-arrow-width 0; }
	&.Tooltip--right  { margin-left: 3px; padding: 0 $tooltip-arrow-width; }
	&.Tooltip--bottom { margin-top: 3px; padding: $tooltip-arrow-width 0; }
	&.Tooltip--left   { margin-left: -3px; padding: 0 $tooltip-arrow-width; }
}

/* Wrapper for the tooltip content */
.Tooltip-inner {
	max-width: $tooltip-max-width;
	padding: 3px 8px;
	color: $tooltip-color;
	text-align: center;
	text-decoration: none;
	background-color: $tooltip-bg;
	border-radius: $border-radius-base;
}

/* Arrows */
.Arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;

	.Tooltip--top & {
		bottom: 0;
		left: 50%;
		margin-left: -$tooltip-arrow-width;
		border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
		border-top-color: $tooltip-arrow-color;
	}

	.Tooltip--topLeft & {
		bottom: 0;
		left: $tooltip-arrow-width;
		border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
		border-top-color: $tooltip-arrow-color;
	}

	.Tooltip--topRight & {
		bottom: 0;
		right: $tooltip-arrow-width;
		border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
		border-top-color: $tooltip-arrow-color;
	}

	.Tooltip--right & {
		top: 50%;
		left: 0;
		margin-top: -$tooltip-arrow-width;
		border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
		border-right-color: $tooltip-arrow-color;
	}

	.Tooltip--left & {
		top: 50%;
		right: 0;
		margin-top: -$tooltip-arrow-width;
		border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
		border-left-color: $tooltip-arrow-color;
	}

	.Tooltip--bottom & {
		top: 0;
		left: 50%;
		margin-left: -$tooltip-arrow-width;
		border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
		border-bottom-color: $tooltip-arrow-color;
	}

	.Tooltip--bottomLeft & {
		top: 0;
		left: $tooltip-arrow-width;
		border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
		border-bottom-color: $tooltip-arrow-color;
	}

	.Tooltip--bottomRight & {
		top: 0;
		right: $tooltip-arrow-width;
		border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
		border-bottom-color: $tooltip-arrow-color;
	}
}
