/* ==========================================================================
   Single side border-radius
   ========================================================================== */

@mixin BorderTopRadius($radius) {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin BorderRightRadius($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin BorderBottomRadius($radius) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}
@mixin BorderLeftRadius($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}
