// ==========================================================================
// Center-align a block level element
// ========================================================================== 

@mixin CenterBlock() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
