/* ==========================================================================
   Navs
   ========================================================================== */

/* Nav variations
  ========================================================================== */
@mixin NavJustified{
	width: 100%;

	> li {
		float: none;
		 > a {
			text-align: center;
			margin-bottom: 5px;
		}
	}

	@media (min-width: $screen-small-min) {
		> li {
			display: table-cell;
			width: 1%;

			> a {
				margin-bottom: 0;
			}
		}
	}
}

@mixin NavTabsJustified{
	border-bottom: 0;

	> li > a {
		/* Override margin from .Nav-tabs */
		margin-right: 0;
		border-radius: $border-radius-base;
	}

	> .is-active > a,
	> .is-active > a:hover,
	> .is-active > a:focus {
		border: 1px solid $nav-tabs-justified-link-border-color;
	}

	@media (min-width: $screen-small-min) {
		> li > a {
			border-bottom: 1px solid $nav-tabs-justified-link-border-color;
			border-radius: $border-radius-base $border-radius-base 0 0;
		}

		> .is-active > a,
		> .is-active > a:hover,
		> .is-active > a:focus {
			border-bottom-color: $nav-tabs-justified-active-link-border-color;
		}
	}
}
