// ==========================================================================
// Pagination
// ========================================================================== 

@mixin PaginationSize($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
	> li {
		> a,
		> span {
			padding: $padding-vertical $padding-horizontal;
			font-size: $font-size;
		}
		&:first-child {
			> a,
			> span {
				@include BorderLeftRadius($border-radius);
			}
		}
		&:last-child {
			> a,
			> span {
				@include BorderRightRadius($border-radius);
			}
		}
	}
}
