/* ==========================================================================
   Panels
   ========================================================================== */

@mixin PanelVariant($border, $heading-text-color, $heading-bg-color, $heading-border) {
	border-color: $border;

	& > .Panel-heading {
		color: $heading-text-color;
		background-color: $heading-bg-color;
		border-color: $heading-border;

		+ .Panel-collapse .Panel-body {
			border-top-color: $border;
		}

		.Badge {
			color: $heading-bg-color;
			background-color: $heading-text-color;
		}
	}
	& > .Panel-footer {
		+ .Panel-collapse .Panel-body {
			border-bottom-color: $border;
		}
	}
}

