/* ==========================================================================
   Responsive utilities
   ========================================================================== */

/**
 * More easily include all the states for responsive-utilities.less.
 */

@mixin ResponsiveVisibility($type: "block") {

	@if ($type = block) {
		display: block !important;
	}

	@if ($type = table) {
		display: table;
	}

	@if ($type = table-row) {
		display: table-row !important;
	}

	@if ($type = table-cell) {
		display: table-cell !important;
	}
}

@mixin ResponsiveInvisibility() {
	display: none !important;
}
