// ==========================================================================
// Size
// ========================================================================== 

@mixin Size($width, $height) {
	width: $width;
	height: $height;
}
@mixin Square($size) {
	@include Size($size, $size);
}
