/* ==========================================================================
   WebKit-style focus
   ========================================================================== */

@mixin TabFocus() {
	/* Default */
	outline: thin dotted #333;
	/* Webkit */
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
