// ==========================================================================
// Text overflow
// ========================================================================== 

// Text overflow
// Requires inline-block or block for proper styling

@mixin TextOverflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
