/* ==========================================================================
   Abbreviations and acronyms
   ========================================================================== */
abbr[title],
/* Added data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257 */
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted $abbr-border-color;
}

abbr.Initialism {
	font-size: 90%;
	text-transform: uppercase;
}
