/* ==========================================================================
   Emphasis & misc
   ========================================================================== */

/* Ex: 14px base font * 85% = about 12px */
small,
.u-small{
	font-size: 85%;
}

mark,
.u-mark {
	background-color: $state-warning-bg;
	padding: .2em;
}

/* Alignment */
.Text--left           { text-align: left; }
.Text--right          { text-align: right; }
.Text--center         { text-align: center; }
.Text--justify        { text-align: justify; }
.Text--nowrap         { white-space: nowrap; }

/* Transformation */
.Text--lowercase      { text-transform: lowercase; }
.Text--uppercase      { text-transform: uppercase; }
.Text--capitalize     { text-transform: capitalize; }

/* Contextual emphasis */
.Text--muted { color: $text-muted; }
.Text--primary { @include TextEmphasisVariant($brand-primary,      ".Text--primary"); }
.Text--success { @include TextEmphasisVariant($state-success-text, ".Text--success"); }
.Text--info {    @include TextEmphasisVariant($state-info-text,    ".Text--info"   ); }
.Text--warning { @include TextEmphasisVariant($state-warning-text, ".Text--warning"); }
.Text--danger {  @include TextEmphasisVariant($state-danger-text,  ".Text--danger" ); }
