/* ==========================================================================
   Emphasis & misc
   ========================================================================== */

/* Ex: 14px base font * 85% = about 12px */
small,
.u-small{
	font-size: 85%;
}

/* Undo browser default styling */
cite{
	font-style: normal;
}

/* Contextual emphasis */
.Text--muted {
	color: $text-muted;
}

.Text--primary {
	color: $brand-primary;
	&:hover {
		color: darken($brand-primary, 10%);
	}
}

.Text--warning {
	color: $state-warning-text;
	&:hover {
		color: darken($state-warning-text, 10%);
	}
}

.Text--danger {
	color: $state-danger-text;
	&:hover {
		color: darken($state-danger-text, 10%);
	}
}

.Text--success {
	color: $state-success-text;
	&:hover {
		color: darken($state-success-text, 10%);
	}
}

.Text--info {
	color: $state-info-text;
	&:hover {
		color: darken($state-info-text, 10%);
	}
}

/* Alignment */
.Text--left 	{ text-align: left; }
.Text--right 	{ text-align: right; }
.Text--center { text-align: center; }
