/* ==========================================================================
   Emphasis & misc
   ========================================================================== */

/* Ex: 14px base font * 85% = about 12px */
small,
.u-small{
	font-size: 85%;
}

/* Undo browser default styling */
cite{
	font-style: normal;
}

/* Contextual emphasis */
.u-textMuted {
	color: $text-muted;
}

.u-textPrimary {
	color: $brand-primary;
	&:hover {
		color: darken($brand-primary, 10%);
	}
}

.u-textWarning {
	color: $state-warning-text;
	&:hover {
		color: darken($state-warning-text, 10%);
	}
}

.u-textDanger {
	color: $state-danger-text;
	&:hover {
		color: darken($state-danger-text, 10%);
	}
}

.u-textSuccess {
	color: $state-success-text;
	&:hover {
		color: darken($state-success-text, 10%);
	}
}

.u-textInfo {
	color: $state-info-text;
	&:hover {
		color: darken($state-info-text, 10%);
	}
}

/* Alignment */
.u-textLeft 	{ text-align: left; }
.u-textRight 	{ text-align: right; }
.u-textCenter 	{ text-align: center; }